Добро пожаловать в сервис по подписке на *новые объявления* о продаже квартир в Минске.

Используйте меню для получения списка команд и управления подписками.

Выберите /help, чтобы узнать, как работает сервис.
